* {
    font-family: "CommutersSans-Regular";
}

a {
    text-decoration: none;
    color: unset;
}

.fixed_name {
    position: fixed;
    z-index: 20000;
    font-family: "CommutersSans-Bold";
    text-align: center;
    width: fit-content;
    margin-top: 23px;
    font-size: 20px;
    left: calc(50% - 100px);
    width: 200px;
    color: #4B4B4D;

    @media (max-width: 992px) {
        text-align: start;
    }
}

@media (min-width: 992px) {
    .invisible {
        text-align: start !important;
    }

    .d-inline-block {
        text-align: center;
    }
}

.position-fixed {
    text-align: center;
    width: 100%;
}

header {
    height: 600px;
    justify-content: center;
}


header p {
    position: absolute;
    top: 300px;
    text-align: center;
    font-size: 50px;
    color: rgb(92, 92, 92);
    padding: 0 360px;

    & span {
        font-family: "CommutersSans-ExtraBold";
    }

    @media (max-width: 1800px) {
        padding: 0 400px;
    }

    @media (max-width: 1700px) {
        padding: 0 350px;
        top: 250px;
    }

    @media (max-width: 1300px) {
        padding: 0 275px;
    }

    @media (max-width: 1200px) {
        padding: 0 200px;
    }

    @media (max-width: 1000px) {
        padding: 0 100px;
    }

    @media (max-width: 768px) {
        font-size: 35px;
        top: 250px;
    }

    @media (max-width: 600px) {
        top: 200px;
    }

    @media (max-width: 500px) {
        font-size: 25px;
    }

    @media (max-width: 400px) {
        font-size: 16px;
    }
}

.about_header p {
    top: 250px;
    text-align: center;
    font-size: 40px;
    color: rgb(92, 92, 92);
    padding: 0 400px;

    @media (max-width: 1350px) {
        font-size: 35px;
        padding: 0 280px;
    }

    @media (max-width: 1050px) {
        font-size: 30px;
        padding: 0 200px;
    }

    @media (max-width: 900px) {
        font-size: 30px;
        padding: 0 100px;
    }

    @media (max-width: 500px) {
        font-size: 22px;
        padding: 15px;
    }

}

.nav-link ms-lg-3 {
    font-family: "CommutersSans-SemiBold" !important;
}


footer h5, #contactForm h3 {
    font-family: "CommutersSans-Bold";
    color: #4B4B4D;
}

.project_parent {
    position: relative !important;
    min-height: 500px;

    @media (max-width: 1100px) {
        min-height: 350px !important;
    }
}

.project_name {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.project_name:hover {
    opacity: 1;
    transition: 0.5s;
}

.project_container span {
    font-family: "CommutersSans-Bold";
}

.about_header {
    background: url(../images/about_bg.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;

    @media (max-width: 800px) {
        height: 76vh;
    }

    @media (min-width: 1600px) {
        background-size: cover;
    }
}

.bi {
    color: #606062;
}

.custom_my-5 {
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.custom_my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.custom_py-5 {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.5s;
}

.custom_py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s;
}